.feedback {
    width: 100%;
    height: auto;

    .feedback-main {
        .feedback-content {
            background-color: #FFFFFF;
            box-shadow: 0px 0px 6px gray;
            box-sizing: border-box;
            padding: 20px;
            padding-bottom: 14px;
            padding-top: 0px;
            width: 105%;
            height: auto;
            margin-bottom: 94px;

            span {
                font-size: 60px;
                font-weight: 600;
            }

            h4 {
                font-size: 22px;
                font-weight: 700;
                font-family: "Roboto Serif", serif;
                color: #224F34;
                margin-bottom: 17px;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;

            }

        }

        .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
        .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
            display: none;
        }

        .icon-dive-slider {
            margin-bottom: 33px;
        }

        .feedback-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            margin-top: 80px;

            span {
                margin-right: 46px;
            }

            .st-avarice {
                background-color: #FFFFFF;
                box-shadow: 0px 0px 6px gray;
                padding: 8px 11px;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-right: 20px;
                font-size: 21px;

                &:hover {
                    background-color: #C2EFD4;
                }
            }

            .st-generosity {
                background-color: #C2EFD4;
                box-shadow: 0px 0px 6px gray;
                padding: 8px 11px;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                font-size: 21px;

                &:hover {
                    background-color: #ffff;
                }
            }
        }


    }
}